  <footer class="footer">
        <div class="container">
            <p>&copy;2025 Clicksy.id - PT Kreatif Cendikiawan Indonesia. All Rights Reserved.</p>
            <div class="footer-links">
            </div>
        </div>
    </footer>