<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : 'Nama Aplikasi Anda' %></title>
    <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo" style="font-size: 14px;"><a href="index.html"><img src="/images/clicksy.png" width="60" height="60" style="margin-right: 10px;"> Clicksy.id</a></h1>
            <nav class="nav">
                <ul>
                    <li><a href="index.html">Beranda</a></li>
                    <li><a href="#">Kategori</a></li>
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Kontak</a></li>
                </ul>
            </nav>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </header>